body{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.center{
    height: 100vw;
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "bar paint paint";
}

.bar{
    grid-area: bar;
    display: flex;
    flex-direction: column;
}

.grid{
    grid-area: paint;
    display: block;
    width: 80%;
    height: 50%;
}
